<div class="greeting">
    <h1>Welcome to CocktailTales!</h1>
    <p>Explore a variety of cocktails and find your favorites.</p>
  </div>
  
  <div class="search-bar">
    <form id="myForm" method="post">
    <input type="text" placeholder="Search for a cocktail..." name="input">
    <!-- <button type="button" formaction="/newpage" id="get" type="submit" value="GET">Search</button> -->
    <input id="button" type="submit" value="Search" formaction="/recipe">
    </form>
  </div>